        /* AUFGABE 1: 1>Paragraph 1 in der ersten Section */
        TODO { color: gold; }

        /* AUFGABE 2: selektiere 3>Paragraph Z   */

        /* AUFGABE 3: 2>Paragraph in erster und zweiter Section */

        /* AUFGABE 4: 3>Paragraph Z in der zweiten section */


        /* AUFGABE 5: alle gruenen list items */

        /* AUFGABE 6: jeweils die ersten beiden list items */

        /* AUFGABE 7: jeweils die ersten beiden list items der blauen und gruenen section */

        /* AUFGABE 8: Paragraphs in den ersten beiden sections */
