html {
    scroll-behavior: smooth
}

header {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    padding: 20px;
    backdrop-filter: blur(3px);
}


nav>ul>li {
    display: inline;
    margin-right: 1em;
}

nav>ul>li>a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

nav>ul>li>a:hover {
    font-size: 2em;
    text-decoration: underline;
    color: red;
}


nav>ul>li {
    display: inline;
    margin-right: 1em;
    text-decoration: none;
}

.header-inner {
    display: inline-block;
}

header [alt] {
    /* display: inline-block; */
    float: right;
    position: relative;
    width: 10em;
    right: 40px;
}



/* 

main {
    max-width: 1100px;
    margin: 1rem auto;
    padding: 0 1rem;
    display: block
}

article,
section {
    background: var(--card);
    padding: 0.9rem;
    border-radius: 6px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    margin-bottom: 1rem
}

aside {
    background: transparent;
    padding: 0.6rem;
    margin-bottom: 1rem
} */

/* table styling */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.98rem
}

caption {
    text-align: left;
    font-weight: 700;
    margin-bottom: 0.2rem
}

thead th {
    background: var(--accent);
    color: #fff;
    padding: 0.6rem;
    text-align: left;
    font-weight: 700
}

tbody td {
    padding: 0.55rem;
    border-bottom: 1px solid #eef2f6
}

tbody tr:nth-child(even) {
    background: #fbfdff
}