.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
        "header  header"
        "sidebar main"
        "footer footer";
    gap: .4em;
}


.container>* {
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

ul {
    padding-left: 0;
    list-style-type: none;
    line-height: 2rem;
}


header {
    grid-area: header;
    background-color: lightblue;
    text-align: center;
}

aside {
    grid-area: sidebar;
    background-color: lightgreen;
}

main {
    grid-area: main;
    background-color: lightcoral;
}

footer {
    grid-area: footer;
    background-color: lightgoldenrodyellow;
    text-align: center;
}


@media screen and (width < 600px) {
    .container {
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    aside {
        display: none;
    }
}