* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: green;
}

div {
    display: inline-block;
    width: 300px;
    padding: 20px;
    margin: 20px;
    border: 2px solid gold;
    color: red;
}